<div class="inline-flex justify-center py-4 controls__button-list">
  {{#if this.playerState.isPaused}}
    <button class="controls__button px-2 py-1 rounded-l" {{on "click" this.play}}>
      {{inline-svg "icons/play" class="fill-current"}}
      <Tooltip @content="Play video" />
    </button>
  {{else}}
    <button class="controls__button px-2 py-1 rounded-l" {{on "click" this.pause}}>
      {{inline-svg "icons/pause" class="fill-current"}}
      <Tooltip @content="Pause video" />
    </button>
  {{/if}}
  {{#if this.playerState.isMuted}}
    <button class="controls__button px-2 py-1 o__off" {{on "click" this.unmuteVolume}}>
      {{inline-svg "icons/volume_off" class="fill-current"}}
      <Tooltip @content="Unmute video" />
    </button>
  {{else}}
    <button class="controls__button px-2 py-1 " {{on "click" this.muteVolume}}>
      {{inline-svg "icons/volume" class="fill-current"}}
      <Tooltip @content="Mute video" />
    </button>
  {{/if}}
  {{#if this.videoCallService.ownMediaStream.isHidden}}
    <button class="controls__button px-2 py-1 o__off" {{on "click" this.toggleCamera}}>
      {{inline-svg "icons/cam_off" class="fill-current"}}
      <Tooltip @content="Enable your webcam" />
    </button>
  {{else}}
    <button class="controls__button px-2 py-1" {{on "click" this.toggleCamera}}>
      {{inline-svg "icons/cam" class="fill-current"}}
      <Tooltip @content="Disable your webcam" />
    </button>
  {{/if}}
  {{#if this.videoCallService.ownMediaStream.isMuted}}
    <button class="controls__button px-2 py-1 o__off rounded-r" {{on "click" this.toggleMic}}>
      {{inline-svg "icons/mic_off" class="fill-current"}}
      <Tooltip @content="Unmute your mic" />
    </button>
  {{else}}
    <button class="controls__button px-2 py-1 rounded-r" {{on "click" this.toggleMic}}>
      {{inline-svg "icons/mic" class="fill-current"}}
      <Tooltip @content="Mute your mic" />
    </button>
  {{/if}}
</div>