<div class="invite__manual" role="button" ...attributes {{on "click" this.openModal}}>
  Manually connect to a friend
</div>

{{#if (eq this.parentDomService.activeFrame 'manual-connection')}}
  <ParentDomFrame class="vemos-iframe">
    <div class="vemos-splash-frame flex flex-col">
      <div class="vemos-close" role="button" {{on "click" this.closeModal}}>
        <Svg::Close/>
      </div>
      <span class="vemos-logo">
        <Svg::Logo/>
      </span>
      <div class="flex flex-col flex-1 justify-center items-center">
        <div class="flex flex-col vemos-central">
          <div class="vemos-title">Manually connect</div>
          <p class="vemos-subtitle">Sometimes a Vemos invite link might not work when the site you want to watch on and Vemos bump into each other and get in a muddle.</p>
          <p class="vemos-subtitle">If this happens, you can manually connect to people using their random Vemos code. Send your code to a friend, or enter their code below.</p>
          <div class="vemos-code-container">
            <p class="my-2">Your Vemos code is (click to copy)</p>
            <div class="vemos-code" rule="button" {{on "click" this.copyPeerId}}>
              {{or this.linkText this.peerService.peerId}}
            </div>
          </div>

          <p class="my-2">Or enter a friend's code:</p>
          <input class="vemos-peer-input" placeholder="Enter a friend's Vemos code..." {{on "input" this.setPeerCode}}>

          <div class="vemos-got-it {{if (not this.peerCode) 'o__disabled'}}" {{on "click" this.connectToPeer}} role="button">Connect</div>
        </div>

        <a class="mt-2 hover:underline" href="https://test.webrtc.org/" target="_blank">If you continue to have difficulty connecting, please check the WebRTC test page.</a>
      </div>
    </div>
  </ParentDomFrame>
{{/if}}