<div
  class="mediastream__waveform flex flex-row"
  {{did-insert this.setupAnalyser}}
  {{did-update this.setupAnalyser @mediaStream}}
>
  <div class="flex flex-col justify-center">
    <div class="mediastream__waveform-bar o__small"   style={{this.style}}></div>
  </div>

  <div class="flex flex-col justify-center">
    <div class="mediastream__waveform-bar o__large"   style={{this.style}}></div>
  </div>

  <div class="flex flex-col justify-center">
    <div class="mediastream__waveform-bar o__small"   style={{this.style}}></div>
  </div>
</div>