<div class="mediastream-container layout__box" data-tippy-content="HEllo world">
  <video autoplay
    class="mediastream-video {{if @flipped 'o__flipped'}}"
    {{did-insert this.setupMediaStream}}
    {{did-update this.setupMediaStream @vemosStream}}
  >
  </video>
  <div class="mediastream-controls o__audio-controls {{if @vemosStream.isMuted 'o__muted'}}" role="button" {{on "click" this.toggleAudio}}>
    {{#if @vemosStream.isMuted}}
      <Svg::Unmute title="Unmute"/>
    {{else}}
      <Svg::Mute title="Mute"/>
    {{/if}}
  </div>

  <div class="mediastream-controls o__video-controls {{if @vemosStream.isDisabled 'o__muted'}}" role="button" {{on "click" this.toggleVideo}}>
    {{#if @vemosStream.isDisabled}}
      <Svg::Unmute title="Unmute"/>
    {{else}}
      <Svg::Mute title="Mute"/>
    {{/if}}
  </div>

  <MediastreamAudioIndicator @mediaStream={{@vemosStream.audioStream}} />
</div>
