<div class="mediastream-container flex flex-col">
  {{#if @vemosStream}}
    <video autoplay
      class="mediastream-video {{if @flipped 'o__flipped'}}"
      {{did-insert this.setupMediaStream}}
      {{did-update this.setupMediaStream @vemosStream.isHidden}}
      {{did-update this.setupMediaStream @vemosStream}}
      {{did-insert this.onStreamInserted}}
      {{on "click" this.play}}
    >
    </video>
    {{#if @vemosStream.isHidden}}
      <div class="mediastream-default-person">
        <Svg::DefaultPerson />
      </div>
    {{/if}}

    {{#unless @vemosStream.isOwnStream}}
      <div class="mediastream-controls o__audio-controls {{if @vemosStream.isMuted 'o__muted'}}" role="button" {{on "click" this.toggleAudio}}>
        {{#if @vemosStream.isMuted}}
          {{inline-svg 'icons/volume_off'}}
          <Tooltip @content={{"You have muted this person. Click to unmute"}} />
        {{else}}
          {{inline-svg 'icons/volume'}}
          <Tooltip @content={{"Mute this person."}} />
        {{/if}}
      </div>
    {{/unless}}

    <MediastreamAudioIndicator @mediaStream={{@vemosStream.audioStream}} />
  {{/if}}
</div>
