<div class="mediastream-container flex flex-col">
  {{#if @vemosStream}}
    <video autoplay
      class="mediastream-video {{if @flipped 'o__flipped'}}"
      {{did-insert this.setupMediaStream}}
      {{did-update this.setupMediaStream @vemosStream.isHidden}}
      {{did-update this.setupMediaStream @vemosStream}}
      {{did-insert this.onStreamInserted}}
      {{on "click" this.play}}
    >
    </video>
    {{#if @vemosStream.isHidden}}
      <div class="mediastream-default-person">
        <Svg::DefaultPerson />
      </div>
    {{/if}}

    {{#unless this.showClickToPlayOverlay}}
      {{#if @vemosStream.isOwnStream}}
        {{#if @vemosStream.isHidden}}
          <button class="mediastream-controls o__ownstream-controls o__hidden mr-10" {{on "click" (fn this.toggleCamera @vemosStream)}}>
            {{inline-svg "icons/cam_off" class="fill-current"}}
            <Tooltip @content="Enable your webcam" />
          </button>
        {{else}}
          <button class="mediastream-controls o__ownstream-controls mr-10" {{on "click" (fn this.toggleCamera @vemosStream)}}>
            {{inline-svg "icons/cam" class="fill-current"}}
            <Tooltip @content="Disable your webcam" />
          </button>
        {{/if}}
        {{#if @vemosStream.isMuted}}
          <button class="mediastream-controls o__ownstream-controls o__muted" {{on "click" (fn this.toggleMic @vemosStream)}}>
            {{inline-svg "icons/mic_off" class="fill-current"}}
            <Tooltip @content="Unmute your mic" />
          </button>
        {{else}}
          <button class="mediastream-controls o__ownstream-controls" {{on "click" (fn this.toggleMic @vemosStream)}}>
            {{inline-svg "icons/mic" class="fill-current"}}
            <Tooltip @content="Mute your mic" />
          </button>
        {{/if}}
      {{else}}
        <div class="mediastream-controls o__audio-controls {{if @vemosStream.isMuted 'o__muted'}}" role="button" {{on "click" this.toggleAudio}}>
          {{#if @vemosStream.isMuted}}
            {{inline-svg 'icons/volume_off'}}
            <Tooltip @content={{"You have muted this person. Click to unmute"}} />
          {{else}}
            {{inline-svg 'icons/volume'}}
            <Tooltip @content={{"Mute this person."}} />
          {{/if}}
        </div>
      {{/if}}
      <MediastreamAudioIndicator @mediaStream={{@vemosStream.audioStream}} />
    {{/unless}}
  {{/if}}

  {{#if this.showClickToPlayOverlay}}
    <div class="mediastream-video__click-to-play-overlay flex flex-col justify-center items-center" {{on "click" this.enableVideo}}>
      <span class="text-white">
        Click to enable webcam
      </span>
    </div>
  {{/if}}
</div>
