<div
  class="mediastream__waveform layout__box o__has-columns"
  {{did-insert this.setupAnalyser}}
  {{did-update this.setupAnalyser @mediaStream}}
>
  <div class="layout__box o__has-rows o__centers-vertically">
    <div class="mediastream__waveform-bar o__small"   style={{this.style}}></div>
  </div>

  <div class="layout__box o__has-rows o__centers-vertically">
    <div class="mediastream__waveform-bar o__large"   style={{this.style}}></div>
  </div>

  <div class="layout__box o__has-rows o__centers-vertically">
    <div class="mediastream__waveform-bar o__small"   style={{this.style}}></div>
  </div>
</div>