<span {{did-insert this.setupHandlers}} {{will-destroy this.destroy}} class="tooltip-handler">
  <ParentDomFrame class="vemos-tooltip" style={{this.style}}>
    <div class="tooltip__content" {{did-insert this.setElement}} >
      {{@content}}
    </div>
  </ParentDomFrame>
</span>

