<div class="video-switcher">
  <button class="ui inverted button" onclick={{action 'swapView'}}>
    <i class="exchange alternate icon u__mr__0"></i>
  </button>
</div>
<div class="layout__box o__flexes-to-1 o__has-columns">
  {{main-video webcamIsMainView=webcamIsMainView}}
  <div class="local-camera-brightness"></div>
  {{local-webcam-component class="local-camera"}}
  <div class="destination-camera-brightness"></div>
  {{webcam-component class="destination-camera" webcamIsMainView=webcamIsMainView}}
  {{quick-chat}}
</div>
